/*------------------------------------*\
  #PAGES-CHECKOUT
\*------------------------------------*/


.checkout-box[aria-expanded=true] {
    opacity: 1;
    visibility: visible;
}
.checkout-box {
    position: fixed;
    display: flex;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    // background-color: rgba(67,212,57,0.8);
    background-image: url(/public/img/pages/spruitjes.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-color: transparent;
    list-style: none;
    transition: all .2s ease-in-out;
    will-change: top;
    visibility: hidden;
    opacity: 0;
    z-index: 10;
    h1 {
        font-size: 36px;
        font-weight: 500;
        text-align: center;
    }
    p {
        text-align: center;
    }
}

.checkout-box__inner {
    width: 100%;
    max-width: 550px;
    margin: auto;
    background-color: #f4f8fb;
    padding: 1em;
    form {
        .form-name {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            border: 0;
            padding: 0;
        }
        .form-adress {
            display: flex;
            justify-content: flex-start;
            align-items: stretch;
            border: 0;
            padding: 0;
            .first {
                width: 50%;
            }
        }
        .form-input {
            position: relative;    
            border: 0;  
            margin-bottom: 1em;      
        }
        .input-field {
            border: 1px solid #e0e0e0;
            border-radius: 0;
            color: #303030;
            padding: 0 16px;
            height: 48px;
            width: 100%;
            font-weight: 200;
            font-size: 18px;
            color: gray;
        }
        .input-border {
            background-color: #ea3d3d;
            width: 100%;
            display: block;
            height: 2px;
            width: 0;
            transition-property: width,background-color;
            transition-duration: .2s;
            transition-timing-function: ease-out;
            position: relative;
            top: -2px;
            background-color: #3b9fe2;
        }
        .input-valid {
            background-color: #69bd86;
            width: 100%;
        }
        .input-label {
            position: absolute;
            left: 17px;
            right: 25px;
            top: 7px;
            padding-left: 0.5em;
            font-size: 18px;
            color: gray;
        }    
        .input-button {
            display: flex;
            justify-content: center;
        }
    }
}