/*------------------------------------*\
  #PAGES-POSTS
\*------------------------------------*/

ul.post-list {
	padding: 0;
	li {
		list-style-type: none;
		h2 a {
			color: black;
			text-decoration: none;
		}	
	}
}

.post-header {
	margin-top: 3rem;
}
	
.post {
	max-width: 992px;
	margin: auto;	
	h1 {
		max-width: 768px;
    	margin: auto;
	}
	@media (min-width: $on-palm) {
		margin-top: 70px;
	}
	a {
	    display: inline;
	    line-height: 1em;
	    position: relative;
	    border-bottom: 1px solid rgba(90,90,90,.2);
	    padding-bottom: 0;
	    text-decoration: none;
	    color: #009fe3;
	    &:hover {
	    	border-bottom: 1px solid rgba(90,90,90,.2);
	    }
	}
	p, h1, h2, h3, h4, h5, ul, ol, span, blockquote, hr {
		max-width: 540px;
		margin: auto;
		@media (min-width: $on-palm) {
			max-width: 540px;
			padding-left: 0;
			padding-right: 0;
		}
	}
	p, h2, h3, h4, blockquote, hr {
		margin: auto;
		margin-bottom: 1.2em;
	}
	p:first-child {
		max-width: 640px;
	    font-weight: 300;
	    font-size: 24px;
	    line-height: 30px;
	    @media (min-width: $on-palm) {
	    	font-size: 28px;
	    	line-height: 36px;
	    }
	}
	p.post-meta {
		// color: #26abe2;
		color: $brand-color;
		padding-top: 2rem;
		margin-bottom: 0.5rem;
		/* text-align: center; */
		max-width: 640px;
		padding-left: 1rem;
	}
	b {
		font-weight: 700;
	}
	h2 {
		font-size: 42px;
		font-weight: 500;
	}
	h3 {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 6px;
		padding-left: 1em;
	}
	h4 {
		font-size: 24px;
		font-weight: 700;
		margin-bottom: 0.5em;
		a {
		    float: right;
		    padding: 7px 27px;
		    font-size: 16px;
		    border-bottom: 0;
		}
	}
	h5 {
		// font-size: 21px;
		font-weight: 500;
		margin: auto;
		margin-bottom: 1em;
		margin-top: 2em;
		text-align: center;
	    color: $brand-color;
		a {
		    float: right;
		    padding: 7px 27px;
		    font-size: 16px;
		    border-bottom: 0;
		}
	}
	h6 {
		font-weight: 500;
	    padding: 0 0 42px 0;
	    color: $brand-color;
	    margin-bottom: 1em;
	    line-height: 1.3;
	    @media (min-width: $on-palm) {
	    	width: 624px;
	    	margin: auto;
	    	font-size: 27px;
	    }		
	}
	.photos {
		max-width: 992px;
		margin: 18px auto;
		// padding-left: 15px;
		// padding-right: 15px;
		.img-big {
			img {
				width: 100% 
			}
		}	
		.img-half {
			max-width: 768px; 
			margin: auto;
			img {
				width: 100%;
			}
		}	
	}
	ul {
		padding: 0;
		font-family: $font2;
	    color: text-color;
	    padding-top: 0.5em;
	    padding-bottom: 0.5em;
	    // padding-left: 28px;
	    position: relative;
		:not(:last-child)::after {
		    // background-color: mistyrose;
		    bottom: -0.75em;
		    content: '';
		    left: 0;
		    margin-left: -21px;
		    position: absolute;
		    top: 0.75em;
		    width: 2px;
		}
		li {
			display: block;
		    letter-spacing: 1px;
		    margin-bottom: 0.25em;
		    position: relative;
		}
	}

	ol {
		padding: 0;
		li{
			counter-increment: step-counter;
			list-style-type: none;
			position: relative;
			margin-left: 2em;
			&:before {
				content: counter(step-counter);
				margin-right: 0px;
				background-color: #26abe2;
				color: white;
				font-size: .7em;
				position: absolute;
				left: -42px;
				top: -2px;
				width: 25px;
			    padding: 5px;
				text-align: center;
			}
		}
		@media (min-width: $on-palm) {
			margin-left: auto;
		}
	}
	blockquote {
	    font-weight: bolder;
	    // margin: 15px;
	    padding: 15px;
	    color: #777;
	    background: #f6f7fc;
	    border: 1px solid #eee;
	    border-left: 4px solid #009fe3;
	    @media (min-width: $on-palm) {
	    	margin: auto;
	    }
	}	
	.recipe {
		font-weight: 500;
	    padding: 0 0 42px 0;
	    width: 624px;
	    color: $brand-color;
	    @media (min-width: $on-palm) {
	    	margin: auto;
	    }
	}
}

